<!DOCTYPE html>
<html lang="en" id="html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <!-- <script src="static/javascript/javascript.js" defer></script> -->
    <script src="static/javascript/jquery.js" defer></script>
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-0 col-sm-0 col-md-1 col-xl-3"></div>
        <div class="col-12 col-sm-12 col-md-10 col-xl-6">
            <section>
                <h2>App para conocer el estado del clima usando Yahoo weather</h2>
                <form class="form-group">
                    <div class="row">
                            <input type="text" id="pais" class="form-control col-6" placeholder="Elija una ciudad">
                            <input type="text" id="ciudad" class="form-control col-6" placeholder="Especifique Pais (opcional)">
                    </div>
                    <button id="boton" type="button" class="form-control btn btn-primary">Buscar Ciudad</button>
                </form>
            </section>
            <hr>
            <section id="detalles" class="hide">
                <div class="row">
                    <div id="divPeticion" class="col-6">
                        <p id="nomCiudad"></p>
                        <p id="nompais"></p>
                        <p id="nomRegion"></p>
                        <p class="subtitulo hover">Coordenadas</p>
                        <div class="row">
                            <p id="lat" class="col-6 hover">Latitud:</p>
                            <p id="long" class="col-6 hover">Longitud:</p>
                        </div>
                    </div>

                    <div id="detallesAtmofericos" class="col-6">
                        <p class="col-12 centrar subtitulo">Hora de la solicitud de la información</p>
                        <p id="horaSolicitud"></p>
                        <p class="centrar subtitulo">Detalles Atmosfericos</p>
                        <div class="row">
                            <p class="col-6">Humedad</p>
                            <p id="humedad" class="col-6">humedad</p>
                            <p class="col-6">Presion Atmosferica</p>
                            <p id="presion" class="col-6">presion</p>
                            <p class="col-6">Visibilidad</p>
                            <p id="visibilidad" class="col-6">visibilidad</p>
                            <p class="col-6">Hora Amanecer</p>
                            <p id="amanecer" class="col-6">Amanecer</p>
                            <p class="col-6">Hora Anochecer</p>
                            <p id="anochecer" class="col-6">Anochecer</p>
                        </div>
                    </div>
                </div>
<hr>
                <div id="predicciones">
                    <p class="centrar subtitulo">Prediciones Climatologicas</p>
                    <table id="tabla" class="col-12">
                        <thead>
                            <th class="centrar">Codigo</th>
                            <th class="centrar">Fecha</th>
                            <th class="centrar">Dia</th>
                            <th class="centrar">Temp Minima (C)</th>
                            <th class="centrar">Temp Maxima (C)</th>
                            <th class="centrar">Estado</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </section>

        </div>
        <div class="col-0 col-sm-0 col-md-1 col-xl-3"></div>
    </div>

</body>

</html>