<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="static/javascript/javascript.js" defer></script>
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <section>
            <h2>App para conocer el estado del clima usando Yahoo weather</h2>
            <div id="divPresentacion" class="">
                <h3> Elije una ciudad por favor</h3>
            </div>
            <form class="form-group">
                <input type="text" id="pais" class="form-control">
                <button id="boton" type="button" class="form-control btn btn-primary">Buscar Ciudad</button>
            </form>
            </section>
            <hr>
            <section id="detalles" class="hide">
                <div id="divPeticion" class="">
                    <p id="nomCiudad"></p>
                    <p id="nompais"></p>
                    <p id="nomRegion"></p>
                    <p>Coordenadas</p>
                    <p id="lat">latitud:</p>
                    <p id="long">longitud:</p>
                </div>

                <div id="detallesAtmofericos">
                    <p>Hora de la solicitud</p>
                    <p id="horaSolicitud"></p>
                    <p>Humedad</p>
                    <p id="humedad">humedad</p>
                    <p>Presion Atmosferica</p>
                    <p id="presion">presion</p>
                    <p>Visibilidad</p>
                    <p id="visibilidad">visibilidad</p>
                    <p>Hora Amanecer</p>
                    <p id="amanecer">Amanecer</p>
                    <p>Hora Anochecer</p>
                    <p id="anochecer">Anochecer</p>

                </div>

                <div id="predicciones">
                    <p>Prediciones Climatologicas</p>
                    <table id="tabla">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <td>hoy</td>
                                <td>manana</td>
                                <td>pasado</td>
                                <td>mananas</td>
                                <td>Oe</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>
        <div class="col-1"></div>
    </div>

</body>

</html>